<?xml version="1.0"?>
<config>
    <modules>
        <Bds_Shariff>
            <version>0.1.0</version>
        </Bds_Shariff>
    </modules>
    <frontend>
	<layout>
            <updates>
                <shariff>
                    <file>shariff.xml</file>
                </shariff>
            </updates>
        </layout>	
    </frontend>
    <global>
	<helpers>
            <shariff>
                <class>Bds_Shariff_Helper</class>
            </shariff>
        </helpers>
	<blocks>
            <shariff>
                <class>Bds_Shariff_Block</class>
            </shariff>
        </blocks>
	<models>
            <shariff>
                <class>Bds_Shariff_Model</class>
            </shariff>
        </models>
    </global>
    <!--<default>
	<bds>
	    <bds_group>
		<bds_googleshare>1</bds_googleshare>
                <bds_facebookshare>1</bds_facebookshare>
                <bds_twittershare>1</bds_twittershare>
                <bds_pinterestshare>1</bds_pinterestshare>
	    </bds_group>
	</bds>
    </default>-->
</config>
